#pp-page-container {
    background-color: white;
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

#pp-content-container {
    background-color: #f8f8fd;
    width: 82%;
    padding: 0% 5%;
    padding-top: 5%;
    display: grid;
    grid-template-columns: 35% 65%;
    box-shadow: 0 2px 4px 0 rgba(222, 222, 222, 0.2), 0 3px 10px 0 rgba(114, 114, 114, 0.19);
}

#profile-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 40vh; */
    padding-top: 2%;
}

#edit-profile-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 40vh; */
    padding-top: 2%;
}

#edit-profile-general-container {
    width: 300px;
}

#pp-profile-icon {
    font-size: 64px;
    font-weight: 200;
    color: #a9a8b3;
}

#profile-icon-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    box-shadow: 0 4px 15px 0 rgb(40 44 53 / 6%), 0 2px 2px 0 rgb(40 44 53 / 8%);
}

#edit-profile-icon-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 15px 0 rgb(40 44 53 / 6%), 0 2px 2px 0 rgb(40 44 53 / 8%);
}

#no-tickets-icon {
    color: rgb(235, 235, 235);
    font-size: 40px;
    padding: 5px;
    background-color: gray;
    border-radius: 50%;
}

.personal-page-titles {
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #39364f;
    font-weight: 500;
    margin-bottom: 32px;
}

.personal-page-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.liked-event-container-pp {
    margin: 5px 10px;
}

#activities-cont {
    width: 90%;
}

#pp-spacer {
    margin: 32px 0px;
    border-bottom: 1px solid #cacaca;
}

#personal-activity-container {
    grid-column-start: 2;
    margin-top: 200px;
    padding-bottom: 200px;
}

#personal-cont {
    grid-column-start: 1;
}

#activities-cont {
    grid-column-start: 2;
}

#likes-title-container-pp {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;

}

#likes-detail-container-pp {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#likes-title-container-pp:hover #likes-title-pp{
    color: #3659e3;
    text-decoration: underline;
}

#likes-title-container-pp:hover {
    cursor: pointer;
}

#like-expander-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#like-expander-icon {
    font-weight: 900;
    font-size: 18px;
    padding-top: 2px;
    padding-left: 2px;
    color: #39364f;
}

#pp-orders-likes-followers-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile-details-middle-container-pp {
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    padding-left: 20px;
}

#edit-profile-details-middle-container-pp {
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#username-text-input {
    width: 100%;
}

#pp-edit-username-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

#inner-edit-profile-icon-container {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 2px dotted #d1d1db;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inner-edit-profile-icon-container:hover {
    cursor: pointer;
    border-color: #3659e3;
    color: #3659e3;
}

#submit-new-user-info {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;

}

#form-submit-profile {
    margin-right: 10px;
}

.discard-button-profile {
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #717078;
    padding: 0px 30px;
}

.discard-button-profile:hover {
    background-color: #f8f8fd;
    cursor: pointer;
}

.dot-spacer {
    background-color: #39364f;
    border-radius: 2px;
    height: 4px;
    width: 4px;
    margin: 0px 10px;
}

.pp-thumbnail-info {
    font-size: 14px;
    color: #4b4d63;
}

#pp-username-container {
    color: #1e0a3c;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: .75px;
    margin-right: -0.75px;
    font-weight: 700;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile-edit-icon-right-container {
    margin-left: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-edit-icon-right-container:hover {
    cursor: pointer;
    background-color: rgb(239, 239, 239);
}

#profile-edit-icon-pp {
    color: #4b4d63;
    font-size: 20px;
    font-weight: 500;
    padding: 8px;
}

#follow-index-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#edit-user-and-profile-details-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: fit-content;
    grid-column-start: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
}