#user-events-index-page-container {
    display: flex;
    justify-content: center;
    background-color: white;
    min-height: 80vh;
}

#user-events-index-container {
    width: 60%;
    padding-top: 100px;
    padding-bottom: 200px;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

#user-events-header {
    color: #1A0E3C;
    font-size: 50px;
    font-weight: 900;
}

#my-events-table-container {
    padding: 50px 0px;
}

#top-level-container {
    background-color: #f8f7fa;
    border-radius: 5px;
}

#column-name-container {
    padding: 18px 27px;
    display: grid;
    grid-template-columns: 87% 13%;
    color: #39364f;
    font-size: 14px;
}

#event-column-title {
    grid-column-start: 1;
}

#sold-column-title {
    grid-column-start: 2;
}

#tickets-sold-count {
    padding-top: 8px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #6f7287;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

.month-abrev {
    color: #d1410c;
    font-size: 12px;
    line-height: 1rem;
}

.date-abrev {
    color: #6f7287;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: .25px;
    margin-right: -0.25px;
    font-weight: 600;
}

.event-thumbnail-mp-page-container, .abrev-date-graphic-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

.actual-e-thumbnail {
    height: 56px;
    width: 56px;
}

.actual-e-thumbnail > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.table-item-container {
    display: grid;
    grid-template-columns: 86% 10% 4%;
    padding: 15px;
}

.table-item-container:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(222, 222, 222, 0.2), 0 3px 10px 0 rgba(114, 114, 114, 0.19);
}

.left-info-container {
    padding-left: 2%;
    grid-column-start: 1;
    display: flex;
    flex-direction: row;
}

.right-edit-container {
    grid-column-start: 3;
}

.event-detail-column-item {
    font-size: .875rem;
    line-height: 1.25rem;
}

.title-mine {
    padding-bottom: 5px;
}

.other-mine {
    font-size: 13px;
    color: #6f7287;
}
