
#event-container {
    display: flex;
    flex-direction: column;
    width: 273px;
    height: 364.5px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

#event-container:hover {
    cursor: pointer;
}

#event-thumbnail {
    height: 163px;
    width: 100%;
    background-color: rgb(176, 115, 233);
}
