#create-event-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#create-event-page {
    width: 70%;
}

#create-event-page {
    padding-top: 20px;
    padding-bottom: 200px;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

#create-form-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

#create-event-form-actual {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#basic-info-icon, #location-icon-small, #date-time-icon, #add-photo-icon, #tickets-icon {
    font-size: 50px;
    color: #d3d3d7;
}

#basic-info-icon-container {
    margin-bottom: 200px;
}

#location-icon-container-small {
    margin-bottom: 125px;
}

#date-time-icon-container {
    margin-bottom: 200px;
}

#add-photo-icon {
    margin-bottom: 135px;
}

.form-title-black {
    color: #1A0E3C;
    font-size: 40px;
}

.header-block {
    color: #1A0E3C;
    font-size: 35px;
    font-weight: 600;
}

.sub-header-block {
    color: #39364f;
    padding: 12px 2px 20px;
    font-size: 14px;
}

.icon-container {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.details-block {
    grid-column-start: 2;
}

.input-block {
    width: 100%;
}

.date-time-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-submit-button {
    background-color: #d1410c;
    color: white;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    padding: 0px 30px;
}

.form-submit-button:hover {
    background-color: #f05537;
}

.discard-button {
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #717078;
    padding: 0px 30px;
    margin-right: 20px;
}

.discard-button:hover {
    background-color: #f8f8fd;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}