#show-page-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

#back-ground-pic > img {
    width: 100%;
    height: auto;
}

#show-page-layout {
    position: absolute;
    left: 7%;
    right: 7%;
    top: 50px;
}

#show-page-detail {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

#main-event-details-top > div {
    padding-left: 24px;
    padding-right: 24px;
}

#event-pic-container {
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    height: 460px;
    background-color: brown;
    border-radius: 20px;
    border-color: white;
    border: 0px;
}

#event-pic-container > img {
    height: 100%;
    width: auto;
}

#edit-your-event-message {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-left: 16%;
    background-color: #eeedf2;
}

#edit-button-small {
    color: #3659e3;
}

#edit-button-small:hover {
    text-decoration: underline;
}

#event-pic-container > img {
    height: 100%;
}

#event-day, #like-and-share-cont {
    height: 24px;
}

#like-and-share-cont {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

#details-container {
    padding-top: 48px;
    display: grid;
    grid-template-columns: 60% 5% 35%;
    width: 86%;
}

#details-container {
    grid-column-start: 1;
}

#get-tickets-container {
    grid-column-start: 3;
}

#get-t-and-p-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

#follower-author-container, #date-location-container, #location-info-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#get-tickets-and-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 140px;
    margin-bottom: 24px;
    border: 1px;
    border-radius: 15px;
    border-color: #eeedf2;
    border-style: solid;
    margin-left: 20%;
    
}

#event-title-big {
    font-size: 30px;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    font-weight: 600;
    color: #1A0E3C;
}

#event-title-big > h1 {
    margin-bottom: 32px;
}

#get-tickets {
    width: 85%;
    height: 44px;
    background-color: #d1410c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#get-tickets:hover {
    background-color: #f05537;
    cursor: pointer;
}

#price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #39364F;
    padding-bottom: 20px;
}

#event-day, #event-description-detail {
    color: #39364F;
}

#event-day {
    font-size: 20px;
    padding-bottom: 10px;
}

#event-description-detail {
    padding-bottom: 15px
}
#like-b, #share-b {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

#follow-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#button-contain {
    display: inline-block;
    height: 24px;
    width: auto;
    border: 2px;
    border-style: solid;
    border-color: #3659e3;
    border-radius: 5px;
}

#follower-information {
    padding-right: 10px;
    color: #6F7287;
}

#follower-author-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

#when-where {
    font-size: 24px;
    font-weight: bold;
    color: #1A0E3C;
    padding-bottom: 20px;
}

#event-author {
    padding-left: 6px;
    font-size: 16px;
    font-weight: 100;
}

#event-creator {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#calendar-icon, #location-icon {
    font-size: 20px;
    color: #3659e3;
}

#location-icon-container, #calendar-icon-container {
    width: 40px;
    height: 40px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#date-andtime-info {
    display: flex;
    flex-direction: row;
}

#date-and-time-detail, #location-detail {
    padding-left: 20px;
}

#date-and-time, #location-small {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #1A0E3C;
    font-weight: 600;
}

#date-and-time-info-small, #location-info-small {
    color: #6F7287;
}

#event-author {
    font-family: Arial, Helvetica, sans-serif;
}