#user-show-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-user-profile-container {
    height: 486px;
    width: 64%;
    padding-top: 96px;
    padding-bottom: 96px;
    margin-top: 64px;
    background-color: white;
    box-shadow: 0 12px 32px rgb(46 55 77 / 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-info-display-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#user-events-container {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#event-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: #1e0a3c;
}

#follow-button-user {
    background-color: #3150cc;
    color: white;
    width: 127px;
    height: 44px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#username-title {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#total-events-and-followers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #6F7287;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}