/* TODO Add site wide styles */
body {
    margin: 0px;
    background-color: #f8f8fd;
    display: flex;
}

#root {
    width: 100%;
    height: auto;
}

#landing {
    width: 100%;
    height: auto;
}

h1 {
    margin: 0px;
}

a {
    color: #3659e3;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}